*a.out
[Bb]uild
Page_Rank_Nested_Fixed_Iterations_tmp
Papers/ICS_2024/Runs/Page_Rank/
Papers/ICS_2024/Runs/job_cca_*
Generated_Graphs
Measurements
.DS_Store
[Oo]utput
Datasets
*.[Gg]if
!BFS_32x32_v_1024_e_10240_th_ON_SH_ON.gif
!Streaming_Dynamic_BFS_32x32_v_1000_egdeSample_SH_ON.gif
*.[Mm]p4
tmp
bfs_square*
